.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.heading{
  margin-top: 72px;
}

.black{
background-color: #0f0f0f;
opacity: 0.9;
color: white;
}

.footer {
  background-color: #d1c4e9;
  margin: auto;
  width: 100%;
  bottom: 0px;
  position: fixed;
  height: 25px;
}

.option{
  cursor: pointer;
}

.logo-home{
  height: 120px;
  width:  160px;
}