.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.heading{
  margin-top: 72px;
}

.black{
background-color: #0f0f0f;
opacity: 0.9;
color: white;
}

.footer {
  background-color:black;
  margin: auto;
  width: 100%;
  bottom: 0px;
  position: fixed;
  height: 25px;
}

.option{
  cursor: pointer;
}


.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.logo-home{
  width:  90vw;
  vertical-align: middle;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
.logo-home{
  height: 321px;
  width:  642px;
  vertical-align: middle;
  padding-bottom: 80px;
}
}
}

.logo-header{
  height: 75px;
  width:  150px;
  float:left;
}

body
{
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

.nav-link
{
  text-decoration: none;
  color: white;
}

.nav-link:hover
{
  color: gold;
  letter-spacing: 0.3em;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background:white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding-top: 0;
  right: 0;
  top:0;
  background: black;
  opacity: 0.6;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  text-align: center;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-weight: bold;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 0.7;
}

.full-height
{
  min-height: 100vh;
}

.scroll-down {
    height: 300px;
overflow: hidden;
position: relative;
}
.scroll-down.inner {
  position: absolute;
  width: 100 %;
  height: 100 %;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform: translateY(-100 %);
  -webkit-transform: translateY(-100 %);
  transform: translateY(-100 %);
  /* Apply animation to this element */
  -moz-animation: scroll-down 15s linear infinite;
  -webkit-animation: scroll-down 15s linear infinite;
  animation: scroll-down 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-down {
  0 % {-moz-transform: translateY(-100 %);
}
100 % {-moz-transform: translateY(100 %); }
}
@-webkit-keyframes scroll-down {
  0 % {-webkit-transform: translateY(-100 %);
}
100 % {-webkit-transform: translateY(100 %); }
}
@keyframes scroll-down {
  0 % {
-moz-transform: translateY(-100 %); /* Browser bug fix */
  -webkit-transform: translateY(-100 %); /* Browser bug fix */
  transform: translateY(-100 %);
}
100 % {
-moz-transform: translateY(100 %); /* Browser bug fix */
-webkit-transform: translateY(100 %); /* Browser bug fix */
transform: translateY(100 %);
 }
}
